* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.nav-container .dropdown {
    overflow: visible;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: visible;
    background-image: url("../images/mostafa-meraji-9twmmS4aXlE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 735px;
    margin-top: 0px;
}

#logo {
    display: flex;
    width: 120px;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-top: 10px;
}

#about {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #DDD;
    text-decoration: none;
    text-decoration-color: #ED661F;
    padding-right: 50px;
}

#products {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #DDD;
    text-decoration: none;
    padding-right: 50px;
}


.services {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #DDD;
    text-decoration: none;
    padding-right: 50px;
}

.dropdown {
    overflow: hidden;
}

.dropdown .services {
    border: none;
    outline: none;
    margin: 0;
    background-color: inherit;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    float: none;
    color: #FFF;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#cart {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    text-decoration-color: #ED661F;
    padding: 10px;
}

.get-started {
    padding-top: 30px;
    margin: 15px 20px 0 0;
}

#get-started-button {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: DBE7ED;
}

#get-started-text {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.nav-container {
}


.landing-image {
    /* position:  */
    /* padding-top: 60px;
    height: 600px; */
    /* margin-top: -100px; */
}

.landing-description-heading {
    position: absolute;
    top: 15px;
    padding-left: 10px;
    font-size: 100px;
    color: #DDD;

}

.landing-description-subheading {
    position: absolute;
    top: 200px;
    padding-left: 10px;
    font-size: 33px;
    color: #DDD;
}

.view-more {
    padding-left: 10px;
    position: absolute;
    /* top: 0; */
    bottom: 0;
    margin-bottom: 10%;
}

#view-more-button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: DBE7ED;
    /* color: #DBE7ED; */
}

#view-more-text {
    text-decoration: none;
    color: #000;
}


h4 {
    display: flex;
    justify-content: space-between;
}
