* {
    margin: 0;
}

.section {
    width: 100%;
    height: 40vw;
    margin-top: 0.5%;
    margin-bottom: 2%;
    background-color: #dbe7ed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* ================Header=================== */
#header {
    width: 100%;
    height: 6vw;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: end;

    align-items: center;

}

#header p {
    padding-right: 1%;
}

#header strong {
    font-size: 1.8vw;
    font-weight: 800;
}

#header p {
    font-size: 1.7vw;
    font-weight: 200;
}

/* =======================Main====================== */
/* main {
    margin-left: 3%;
    margin-right: 3%;
}
 */
/* =============Scetion 1============= */
#sect1 {
    width: 100%;
    height: 40vw;
    background-color: #dbe7ed;
    display: flex;

}

#sect1_div1 {
    width: 50%;
    height: 100%;
    background-image: url(/barber/barber_assets/barber_images/women/Untitled.jpeg);
    background-position: center;
    background-size: 100% 110%;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#sect1_div2 {
    width: 50%;
    height: 100%;
    background-image: url(/barber/barber_assets/barber_images/men/medium_length_curls_lowFade_beard.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#over {
    background-color: transparent;
    border: thin solid black;
    height: 10vw;
    width: 20%;
    position: absolute;
    top: 16vw;
    left: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#over p {
    text-align: center;
    font-size: 2.0vw;
    line-height: 150%;
    font-weight: 800;
    z-index: 1;
}

#over2 {
    width: 100%;
    height: 40vw;
    background-color: #dbe7ed;
    opacity: 0.5;
    position: absolute;
    top: 6vw;
    z-index: 0;
}

.sect1_buttons {
    width: 50%;
    height: 15%;
    border-radius: 2vw;
    background-color: #dbe7ed;
    font-size: 1.8vw;
    font-weight: 600;
    border: none;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sect1_buttons:hover {
    width: 48%;
    height: 13%;

}

.but1_spans {
    width: 50%;
    height: 100%;
    border: thin solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 1;
    align-items: center;
    text-align: center;
}

#but1_span1 {
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
    color: black;
    background-color: #dbe7ed;
    border: none;
}

#but1_span2 {
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
    color: #dbe7ed;
    background-color: black;
    border: none;
}

#but0_span1 {
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
    color: black;
    background-color: #dbe7ed;
    border: none;
}

#but0_span2 {
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
    color: #dbe7ed;
    background-color: black;
    border: none;
}

/* ===================section 4=============== */
/* header */
.sect_head {
    width: 100%;
    height: 4vw;
    background-color: #dbe7ed;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sect_head div {
    height: 100%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: 800;
}

/* section 4 */
.cards {
    height: 90%;
    width: 23%;
    background-color: #d9d9d9;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cards div {
    border-radius: 2vw;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.card_name {
    height: 15%;
    font-size: 1.7vw;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card_img {
    height: 60%;

}


.card_img img {
    width: 100%;
    height: 100%;
    border-radius: 2vw;
}

.card_info {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card_info button {
    height: 100%;
    width: 48%;
    border: thin black solid;
    border-radius: 1vw;
    background-color: #dbe7ed;
    font-size: 1.5vw;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* card1 price */
.card_price img {
    width: 20%;
    margin-top: 2%;
}

.card_order img {
    height: 90%;
}

#sassy {
    display: none;
}

#masculine {
    display: none;
}